
{{ form_start(form) }}

{{ form_errors(form) }}

<div class="nav-tabs-custom">
    <button type="submit" id="product_sauvegarder" class="btn-success pull-right btn"
            style="margin-top: 5px; margin-right: 5px"><i class="fa fa-save"></i> Sauvegarder
    </button>
    <div class="col-md-3 pull-right" style="margin-top: 5px; margin-right: 5px">
        {{ form_widget(form.state) }}
    </div>
    <ul id="descriptions" class="nav nav-tabs">
            <li class="active"><a href="#mainTab" data-toggle="tab"><i class="fa fa-font"></i> contenu</a></li>
            <li><a href="#seoTab" data-toggle="tab"><i class="fa fa-bar-chart-o"></i> Référencement</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade in active" id="mainTab">
            <p>&nbsp;</p>
            <div class="row">
                <div class="col-md-3">
                    {{ form_errors(form.image) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.image) }}
                    </div>
                </div>
                <div class="col-md-9">

                    {{ form_row(form.title) }}

                    {{ form_row(form.content) }}

                </div>

            </div>
        </div>

        <div class="tab-pane fade in" id="seoTab">
            <div class="row" style="margin-top: 20px">
                <div class="col-md-12">

                    {{ form_row(form.seo.metaTitle) }}

                    {{ form_row(form.seo.metaDescription) }}

                    {{ form_row(form.seo.metaKeywords) }}

                    {{ form_row(form.seo.seoUrl) }}

                </div>
            </div>
        </div>

    </div>
</div>



{{ form_rest(form) }}

{{ form_end(form) }}