{# Dywee\NewsBundle\Resources\View\News\preview.html.twig #}

{% set url %}{% if news.seoUrl != '' %}{{ news.seoUrl }}{% else %}{{ news.id }}{% endif %}{% endset %}

<div class="animated wow fadeInLeft col-md-3 col-sm-6 col-xs-12" data-wow-delay=".2s">
    <div class="media">
        <div class="date">
            <span class="day">{{ news.publicationDate|date('d') }}</span>
            <span class="month">{{ news.publicationDate|date('M') }}</span>
        </div>
        <a href="{{ path('dywee_news_view', {data: url}) }}">
            {% if news.image is not null %}
                <img src="{{ asset(news.image.webPath) }}" alt="{{ news.title }}" class="img-responsive" style="margin-top:10px">
            {% endif %}
        </a>
    </div>
    <a href="#">
        <h1>{{ news.title }}</h1>
    </a>
</div>